body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background: #111;
}

* {
  box-sizing: border-box;
}

h1, h3 {
  font-weight: 400;
}

.weather-app {
  min-height: 100vh;
  background-image: url(./images/day-cloudy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  transition: 500ms;
  opacity: 1;
}
.weather-app .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 2em 3em 4em 3em;
}
.weather-app .container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-app .container .city-time {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}
.weather-app .container .city-time h1 {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 3em;
}
.weather-app .container .temp {
  margin: 0 1em;
  font-size: 7em;
}
.weather-app .container .weather {
  margin: 0 1em;
  margin: 0;
}
.weather-app .container .weather img {
  display: block;
  margin: 0.5em 0;
}

.weather-app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.panel {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1;
  padding: 3em 2em;
  overflow-y: scroll;
}
.panel .form {
  margin-bottom: 3em;
}
.panel .form .submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5em;
  border: none;
  outline: none;
  background: #fa6d1b;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.4s;
}
.panel .form .submit:hover {
  background: #fff !important;
  color: #000;
}
.panel .search {
  background: none;
  border: none;
  border-bottom: 1px #ccc solid;
  padding: 0 1em 0.5em 0;
  width: 80%;
  color: #fff;
  font-size: 1.1em;
}
.panel .search:focus {
  outline: none;
}
.panel .search::-moz-placeholder {
  color: #ccc;
}
.panel .search:-ms-input-placeholder {
  color: #ccc;
}
.panel .search::placeholder {
  color: #ccc;
}
.panel ul {
  padding: 0 0 1em 0;
  margin: 2em;
  border-bottom: 1px solid #ccc;
}
.panel ul li {
  color: #ccc;
  margin: 2.5em 0;
}
.panel ul h4 {
  margin: 3em 0;
}
.panel ul .city {
  display: block;
  cursor: pointer;
}
.panel ul .city:hover {
  color: #fff;
}
.panel .details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .panel {
    position: relative;
    width: 100%;
    top: initial;
  }

  .container {
    position: relative;
    width: 100%;
    top: initial;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-height: 300px) {
  .weather-app {
    min-height: 40em;
  }
}/*# sourceMappingURL=styles.css.map */